@mixin before_circle {
    &:before{
        content: '';
        position: absolute;
        top: -25%;
        left: 0;
        z-index: -1;
        width: 36px;
        height: 36px;
        background: $main_color;
        border-radius: 100%;
    }    
}
@mixin aside_backgroundColorLink {
    &::after{
                position: absolute;
                content: '';
                width: 19px;
                height: 15px;
                left: 1px;
                top: 5px;
                z-index: -1;
                background-color: #fff;
            }    
}