.about_me {
    padding-top: 120px;
    min-height: 720px;
    &__photo {
        width: 400px;
        max-height: 600px;        
        img{
            width: 100%;
            transition: all .6s;
            &:hover{
                transform: scale(1.03);
            }
        }
    }
    &__title{
        margin-top: 6px;
    }
    &__subtitle{
        position: relative;
        padding-left: 14px;
        @include before_circle;
    }
    &__divider{
        width: 60px;
        border: 2px solid $main-color;
        margin-bottom: 20px;        
    }
    &__descr{
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
    }
    &__block{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 260px 260px;
        gap: 20px 50px;
    }
    &__item{
        display: flex;
    }
    &__icons{
        margin-top: 10px;
        position: relative;    
        margin-right: 20px;
        padding-left: 12px;
        padding-top: 8px;
        width: 36px;
        height: 36px;        
        @include before_circle;   
        img{
            width: 24px;
            height: 24px;
        } 
    }
    &__text{
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;        
    }

}

.grid-container{
    display: grid;
    grid-template-columns: 400px 570px;
}
.grid__wrapper{
    margin-left: 68px;
}