@media (max-width: 1259px) {    
    .sidepanel{
        display: none;
    }      
}

@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .about{
        padding-top: 100px;
        &__wrapper{
            grid-template-columns: 390px 520px;
            column-gap: 50px;
        }
        &__skills{
            gap: 20px 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &-item{
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }     
    .resume{
        padding-top: 100px;
        &__wrapper{
            grid-template-columns: repeat(2,minmax(400px,auto));
            column-gap: 100px;
        }
    }
    .skills{
        padding-top: 100px;
        &__wrapper{
            margin-top: 40px;
            grid-template-columns: repeat(3,1fr);
        }
        &__block{
            margin-top: 100px;
            grid-template-columns: repeat(2,1fr);
            &-item{
                gap: 30px 60px;
            }
            &-scale{
                width: 100%;
            }
        }
    } 
}

@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 30px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills{
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 320px;
                gap: 20px;
            }
        }        
    }
    .resume{
        &__wrapper{
            padding: 60px 30px 0 30px;
            grid-template-columns: repeat(2,minmax(340px,auto));
            column-gap: 25px;
        }
    }
    .skills{
        padding-top: 100px;
        &__wrapper{
            margin-top: 40px;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        &__block{
            margin-top: 80px;
            gap: 30px;
        }
    }      
}

@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .title{        
        &_fz48{
            font-size: 28px;
        }
    }
    .promo {
        &__title{
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto / 1fr;
        }
        &__photo{
            grid-row: unset;
            img{
                object-position: 0 26%;
            }
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);            
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .divider{
        margin: 10px auto 0 auto;
    }
    .resume{
        padding-top: 40px;
        &__wrapper{
            padding: 40px 10px 0 10px;
            grid-template-columns: repeat(2,minmax(260px,auto));
            column-gap: 15px;
        }
    }
    .skills{
        padding-top: 40px;
        &__block{
            margin-top: 40px;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 15px;
            &-item{
                grid-template: unset;
            }
        }
    }     
}

@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 15px; 
    }
    .title{        
        &_fz48{
            font-size: 26px;
            width: 280px;
        }
        &_fz36{
            font-size: 24px;
        }
        &_fz16{
            font-size: 15px;
        }
    }
    .hamburger{
        right: 20px;
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
            padding-top: 140px;
        }
        &__social{
            bottom: 35px;
        }

    }
    .promo{
        &__btns{
            margin-top: 30px;
        }
    }  
    .about{
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
        }
        &__skills{
            grid-template-columns: 1fr;            
        }
    } 
    .resume{
        &__wrapper{
            grid-template-columns: 1fr;
        }
    }
    .skills{
        &__wrapper{
            margin-top: 20px;
            justify-content: center;
            grid-template-columns: minmax(270px, 350px);
            gap: 15px;
        }
        &__block {
            justify-content: center;
            grid-template-columns: minmax(270px, 350px);
        }        
    }
}