.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 2.6s;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;        
    }
    span.long{
        width: 36px;
    }
    &:hover{
        span{
            transition: all .6s;
            &:nth-child(1){
                transform: rotate(-25deg);
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                transform: rotate(25deg);
            }
        }
    }
    &.active{        
        span{
            transition: all .6s;
            &:nth-child(1){
                transform: rotate(-45deg) translateY(13px);
            }
            &:nth-child(2){
                width: 0%;
            }
            &:nth-child(3){
                transform: rotate(45deg) translateY(-13px);
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: -100%;
    visibility: hidden;
    opacity: 0; 
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;        
    }    
    &__block {
        position: relative;
        width: 345px;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        background-color: $main-color;
        transition: all .6s;
        z-index: 10;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover{
            svg{
                transition: all .6s;
                transform: rotate(-360deg);
            }
        }
    }
    &__list{
        list-style-type: none;
        padding-left: 35px;
    }
    &__link{
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 15px;     
        &::before{
            content: '';
            position: absolute;
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 1px solid #000;
            transition: all .6s;
        }    
        &:hover{
            &::before{
                background-color: #fff;
                transform: scale(1.2);
            }            
        }
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
            }
        } 
    }
    &__social{
        position: absolute;
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        svg path{
            transition: fill .5s;
        }
        a:nth-child(1):hover{
            @include aside_backgroundColorLink;
                &:after{
                    background-color:#000;                    
                    left: 2px;
                    top: 6px;
                    border-radius: 100%;
                    width: 15px;
                    height: 17px;
                }
            svg path{
                fill:white;
            }
        }
        a:nth-child(2):hover{
            svg path{
                fill: #833AB4

            }
        }
        a:nth-child(3){
            &:hover{
                @include aside_backgroundColorLink;
                &:after{
                    left: 52px;
                    top: 7px;
                    border-radius: 100%;
                    width: 14px;
                    height: 16px;
                }
                svg path{
                    fill: #3b5998
                }
            }
        }
        a:nth-child(4){
            &:hover{
                @include aside_backgroundColorLink;
                &:after{
                    left: 73px;
                    top: 7px;
                    border-radius: 100%;
                    width: 13px;
                    height: 15px;

                }
                svg path{
                    fill: #0088cc;
                }
            }
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .45;
    }
}